@model IEnumerable<OnlineLearningPlatform.Models.Course>
@{
    ViewData["Title"] = "MyCourses";
}

<body>
    <link id="theme-style" rel="stylesheet" href="@Url.Content("~/MyLearning/css/style.css")">

    <div class="main-content">
        <div class="container mt-7">
            <!-- Table -->
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0"> You are The Instructor of </h3>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col"> Course Name </th>
                                    <th scope="col"> Description </th>
                                    <th scope="col"> Category </th>
                                    <th scope="col"> Difficulty Level </th>
                                    <th scope="col"> Enrollment Count </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">
                                            @item.Name
                                        </th>

                                        <td>
                                            @item.Description
                                        </td>

                                        <td>
                                            @item.Category
                                        </td>

                                        <td>
                                            @item.DifficultyLevel
                                        </td>

                                        <td>
                                            @item.EnrollmentCount
                                        </td>

                                        <td>
                                            @if (User.IsInRole("Instructor"))
                                            {
                                                <text>
                                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Manage</a>
                                                </text>
                                            }
                                        </td>
                                    </tr>

                                }


                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                    </div>
                </div>
            </div>
        </div>

    </div>



</body>
 


